.destacado{color:Blue; font-weight:bold}
aside {Background-color:blue; color:white}
.right {
  position: absolute;
  right: 0px;
  width: 300px;
  border: 3px solid #73AD21;
  padding: 10px;
}
*{margin:1in}
h1{background-image: "res\RioLimay.jpg";}