<!DOCTYPE html>
<html>
	<head>
		<meta charset = "utf-8">
		<title>"Portfolio Leandro Canalda"</title>
		<!-- Required meta tags -->
		<meta name="viewport" content="width=device-width,initial-scale=1">
	</head>
<body font-family="sans">
	<app-nav-bar></app-nav-bar>
	
<div class="card">
	<div style="width:100%">
		<div style="height:300px; width:100%">
			<img src="/assets/RioLimay.jpeg" id="banner" alt="Banner">
			<img src="/assets/foto.jpg" id="fotoPerfil" alt="Imagen de perfil mía">
		</div>
	</div>
	<div id="AcercaDe">
		<h1>Leandro Canalda</h1>
		<h4>Desarrollador Web Full Stack</h4>
	</div>
</div>
<app-experience></app-experience>
<app-studies></app-studies>
<app-skills></app-skills>

		<!-- JS login -->
<script src=".vscode/login.js"></script>
</body>
</html>